@using Shared.Response
@model Shared.Response.GetCompaniesResponse

<h2>SendObjectMessage</h2>

<p>Callback received with response Companies.Count: @Model.Companies.Count</p>

<p>@Html.ActionLink("Back", "Index")</p>